<% layout("layouts/boilerplate.ejs") %>
    <div class="row">
        <h1 class="text-center">
            New Campground
        </h1>
        <div class="col-md-6 offset-3 ">
            <form action="/campgrounds" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                    <div class="invalid-feedback">
                        This is a Required Field
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label " for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                    <div class="invalid-feedback">
                        This is a Required Field
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <div class="form-file custom-file">
                            <label for="formFileMultiple" class="form-label">Upload Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">description</label>
                        <textarea class="form-control" type="description" name="campground[description]"
                            id="description" required></textarea>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                        <div class="invalid-feedback">
                            This is a Required Field
                        </div>
                    </div>
                    <div class="mb-5">
                        <label class="form-label mb-3" for="price">Campground Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input id="price" name="campground[price]" type="text" class="form-control"
                                placeholder="Price" aria-label="Username" aria-describedby="basic-addon1" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                            <div class="invalid-feedback">
                                This is a Required Field
                            </div>
                        </div>
                    </div>
                    <button class="mb-3 btn btn-success">Add Campground</button>
            </form>
            <a class="btn btn-primary mb-3" href="/campgrounds">All campgrounds</a>

        </div>

    </div>